body{
        background: linear-gradient(to bottom, #f7f6f0a1,#2090db,#e4f315);
        color:rgb(243, 211, 190);
        font-family: "Lexend";
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        min-height: 100vh;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.navegação{
    color: rgb(101, 172, 150);
}
.navegação:hover{ /* esse hover é quando o mouse passar no link e ele mudar de cor   */
    color: rgb(218, 137, 15);
    transition: 0.3s all;
    border: 1px solid rgb(252, 168, 42);
    border-radius: 20px;
}
li{
    display: inline-block;
    margin: 25px;
    font-size: 20px;
}

#caixa-card{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
    overflow-x: auto;   /* habilita rolagem horizontal */
    max-width: 960px;

  /* Scroll Snap */
  scroll-snap-type: x mandatory;

  /* Personalização da barra */
  scrollbar-width: thin;                /* Firefox */
  scrollbar-color: #4fb9a270 transparent;
}

.container::-webkit-scrollbar {
  height: 3px; /* altura da barra horizontal */
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #ad6767;
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.card{
    background-color: rgb(163, 52, 32);
    width: 300px;
    height: 300px;
    border: 2px solid rgb(94, 10, 10);
    margin: auto;
    box-shadow: 2px 5px 12px rgb(17, 10, 10);
    border-radius: 10px;
    flex-shrink: 0; /* impede que o card encolha */
    scroll-snap-align: start;
}
 
img{
    width: 280px;
    height: 150px;
    border: none;
    margin: 10px;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
p{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}