body{
        background: linear-gradient(to bottom, #f7f6f0a1,#2090db,#e4f315);
        color:rgb(241, 215, 198);
        font-family: "Lexend";
        max-width: 100%;
        margin: 0;
        padding: 8px 20px;
        min-height: 100vh;
        
}
header{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;

    
}
 
#logo{
  
    object-fit: contain;
    width: 220px;
}
.navegação{
    color: rgb(71, 129, 111);
    
}
.navegação:hover{ 
    color: rgb(218, 137, 15);
    transition: 0.3s all;
    border: 1px solid rgb(252, 168, 42);
    border-radius: 20px;
}
li{
    display: inline-block;
    margin: 35px;
    font-size: 20px;
}

#caixa-card{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
    overflow-x: auto;   /* habilita rolagem horizontal */
    max-width: 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;              
  scrollbar-color: #4fb9a270 transparent;
}

.container::-webkit-scrollbar {
  height: 3px; /* altura da barra horizontal */
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #ad6767;
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.custom-card{
    background-color: rgb(163, 52, 32);
    width: 100%;
    max-width: 300px;
    border: 2px solid rgb(94, 10, 10);
    margin: 0 auto;
    box-shadow: 2px 4px 10px rgb(17, 10, 10);
    border-radius: 10px;
    overflow: hidden;
}

.custom-card .card-img-top{
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

img{
  width: 280px;
  height: 150px;
  border: none;
  margin: 10px;
  border-radius: 5px;
}
h1{
    font-weight: 300;
    text-align: center;
}
p{
    text-align: center;
    font-size: 12px;
}