 body{
        background-color: rgb(43, 183, 226);
        color:bisque;
        font-family: "Lexend";
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px;

        }
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;

}
a{
    color: rgb(224, 124, 124);
}
a:hover{ /* esse hover é quando o mouse passar no link e ele mudar de cor   */
    color: rgb(235, 222, 42);
    transition: 0.3s all;
}
li{
    display: inline-block;
    margin: 20px;
}
h1{
    font-weight: 300;
}
h2{
    font-size: 40px;
    line-height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

p{
    line-height: 20px;
    max-width: 450px;
    font-family: sans-serif;
}

img{
    display: flex;
    width: 500px;
    
}


form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}

input[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(224, 124, 124);
    color: antiquewhite;
    font-weight: bold;
}
input[type="submit"]:hover{
    background-color: blue;
    transition: 0.2s all;
}  