 body{
        background: linear-gradient(to bottom, #f7f6f0a1,#2090db,#e4f315);
        color:rgb(243, 211, 190);
        font-family: "Lexend";
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        min-height: 100vh;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

#logo{
    display: flex;
    width: 220px;
    
}

#title{
    flex-direction: column;
    line-height: 10px;

}

strong{
    color: rgb(238, 101, 96);
    text-shadow: #3679dd 2px 2px 4px;
}
#btn-1{
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color: rgb(247, 57, 57);
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    
} #btn1{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Lexend';
} #btn-1:hover{
    transition: all 0.2s;
    background-color: rgb(168, 30, 30);
    
}

#btn-2{
    flex-direction: row;
    margin: 10px;
    height: 50px;
    width: 250px;
    background-color: rgb(137, 190, 11);
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
    cursor: pointer;
}#btn2{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Lexend';
} #btn-2:hover{
    transition: all 0.2s;
    background-color: rgb(96, 163, 20);
}

.navegação{
    color: rgb(101, 172, 150);
    font-size: 18px;
    font-weight: bold;
}
.navegação:hover{ 
    color: rgb(218, 137, 15);
    transition: 0.2s all;
    border-radius: 20px;
    border-bottom:2px solid rgb(218, 137, 15);
}
li{
    display: inline-block;
    margin: 30px;
    font-size: 20px;
}
h1{
    font-weight: 300;
    font-family: "lexend";
}
h2{
    font-size: 40px;
    line-height: 45px;
    font-family: "lexend";
     text-shadow: #5e91dd 2px 2px 4px;
}

main{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

p{
    line-height: 20px;
    max-width: 450px;
    text-shadow: 1px 2px 2px rgb(121, 116, 116);
}
img{
    display: flex;
    width: 550px;
    
}


@media screen and (max-width: 660px){
    header{
        flex-direction: column;
    }
    main{
    flex-direction: column;
    margin-top: 5px;
    align-content: center;
    justify-content: space-between;
    }
    h2{
    font-size: 35px;
    }
    p{
    align-self: center;
    max-width: 350px;
    }
    #btn-1, #btn-2{
    flex-direction: column;
    width: 150px;
    }
    img{
        display: flex;
        width: 370px;
    }
    ul{
        display: flex;
        justify-content: center;
    }
    li{
    margin: 10px;
    }

   .navegação:hover{ 
    color: rgb(218, 137, 15);
    transition: 0.2s all;
    border-radius: 20px;
    border-bottom:2px solid rgb(218, 137, 15);
    }
}