 body{
        background: linear-gradient(to bottom, #f7f6f0a1,#2090db,#e4f315);
        color:bisque;
        font-family: "Lexend";
        max-width: 1250px;
        margin: 0 auto;
        padding: 10px;
        }
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    width: 220px;
    
}

#title{
    flex-direction: column;
    line-height: 10px;

}

strong{
    color: rgb(238, 101, 96);
    text-shadow: #3679dd 2px 2px 4px;
}
a{
    color: rgb(101, 172, 150);
}
a:hover{ /* esse hover é quando o mouse passar no link e ele mudar de cor   */
    color: rgb(218, 137, 15);
    transition: 0.2s all;
    border: 1px solid rgb(252, 168, 42);
    border-radius: 20px;
}
li{
    display: inline-block;
    margin: 25px;
    font-size: 20px;
}
h1{
    font-weight: 300;
    font-family: "lexend";
}
h2{
    font-size: 40px;
    line-height: 35px;
    font-family: "lexend";
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p{
    line-height: 20px;
    max-width: 450px;
    
}

img{
    display: flex;
    width: 550px;
    
}


form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;

}

input[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(224, 124, 124);
    color: antiquewhite;
    font-weight: bold;
}
input[type="submit"]:hover{
    background-color: blue;
    transition: 0.2s all;
}  

@media screen and (max-width: 660px){
    header{
        flex-direction: column;
    }
    main{
    flex-direction: column;
    margin-top: 10px;
    align-content: center;
    }
    h2{
    font-size: 35px;
    }
    p{
    max-width: 350px;
    }
    form{
    margin: 0 auto;
    }
    input{
    align-self: center;
    }
    img{
    width: 380px;
    }
    ul{
        display: flex;
        justify-content: center;
    }
}
