body{
        background: linear-gradient(to right, #585649a1,#2090db,#e4f315);
        color:rgb(255, 255, 255);
        font-family: "Lexend";
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#logo{
    display: flex;
    width: 220px;
    
}
.eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}