@font-face {
    font-family: 'nature';
    src: url(../fontes/ZTNature-Black.ttf) format('ttf2'),
         url(../fontes/ZTNature-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nature12';
    src: url(../fontes/ZTNature-BlackItalic.ttf) format('ttf2'),
         url(../fontes/ZTNature-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: nature10;
    src: url(../fontes/ZTNature-Thin.ttf) format('ttf2'),
         url(../fontes/ZTNature-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}